#
# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence.

# All files
# * @keaganaut

# Content pages
# /pages/docs/ @keaganaut @TimStrietzel
# /pages/tutorials/ @keaganaut @TimStrietzel

# md/mdx files
# *.md @keaganaut @TimStrietzel
# *.mdx @keaganaut @TimStrietzel


# all except docs, tutorials and public folders
* @keaganaut
/pages/docs/
/pages/tutorials/
/public/

