@tailwind base;
@tailwind components;
@tailwind utilities;

/* Y42 Night theme */
:root {
    --background: rgb(23, 24, 28);
    --Neutral100: rgb(26, 28, 32);
    --Neutral200: rgb(36, 38, 44);
    --Neutral300: rgb(52, 55, 64);
    --Neutral400: rgb(70, 73, 83);
    --Neutral500: rgb(89, 92, 103);
    --Neutral600: rgb(109, 112, 123);
    --Neutral700: rgb(129, 131, 142);
    --Neutral800: rgb(151, 152, 162);
    --Neutral900: rgb(172, 173, 181);
    --Neutral1000: rgb(194, 194, 201);
    --Neutral1100: rgb(223, 222, 227);
    --Neutral1200: rgb(230, 228, 232);
    --Red100: rgb(51, 19, 21);
    --Red200: rgb(69, 24, 28);
    --Red300: rgb(99, 32, 39);
    --Red400: rgb(133, 40, 49);
    --Red500: rgb(169, 46, 56);
    --Red600: rgb(202, 61, 65);
    --Red700: rgb(226, 83, 83);
    --Red800: rgb(244, 111, 107);
    --Red900: rgb(255, 140, 134);
    --Red1000: rgb(255, 174, 168);
    --Red1100: rgb(255, 213, 209);
    --Red1200: rgb(255, 221, 218);
    --Orange100: rgb(41, 26, 15);
    --Orange200: rgb(54, 33, 18);
    --Orange300: rgb(82, 47, 24);
    --Orange400: rgb(108, 62, 30);
    --Orange500: rgb(137, 77, 36);
    --Orange600: rgb(170, 91, 41);
    --Orange700: rgb(202, 106, 49);
    --Orange800: rgb(229, 125, 65);
    --Orange900: rgb(248, 148, 93);
    --Orange1000: rgb(255, 177, 134);
    --Orange1100: rgb(255, 215, 192);
    --Orange1200: rgb(255, 222, 203);
    --Yellow100: rgb(36, 28, 15);
    --Yellow200: rgb(47, 37, 19);
    --Yellow300: rgb(69, 53, 24);
    --Yellow400: rgb(91, 70, 29);
    --Yellow500: rgb(114, 88, 35);
    --Yellow600: rgb(137, 108, 41);
    --Yellow700: rgb(160, 127, 45);
    --Yellow800: rgb(184, 148, 49);
    --Yellow900: rgb(207, 169, 56);
    --Yellow1000: rgb(230, 191, 71);
    --Yellow1100: rgb(255, 219, 118);
    --Yellow1200: rgb(255, 227, 142);
    --Lime100: rgb(23, 32, 3);
    --Lime200: rgb(30, 42, 5);
    --Lime300: rgb(44, 61, 7);
    --Lime400: rgb(58, 80, 9);
    --Lime500: rgb(73, 101, 11);
    --Lime600: rgb(88, 123, 13);
    --Lime700: rgb(104, 144, 16);
    --Lime800: rgb(120, 167, 18);
    --Lime900: rgb(140, 188, 35);
    --Lime1000: rgb(173, 207, 98);
    --Lime1100: rgb(212, 230, 174);
    --Lime1200: rgb(219, 235, 187);
    --Green100: rgb(17, 32, 22);
    --Green200: rgb(20, 43, 28);
    --Green300: rgb(24, 63, 39);
    --Green400: rgb(28, 83, 51);
    --Green500: rgb(32, 104, 65);
    --Green600: rgb(32, 127, 81);
    --Green700: rgb(32, 150, 97);
    --Green800: rgb(46, 173, 116);
    --Green900: rgb(77, 194, 139);
    --Green1000: rgb(124, 213, 167);
    --Green1100: rgb(185, 234, 206);
    --Green1200: rgb(198, 238, 215);
    --Teal100: rgb(3, 32, 37);
    --Teal200: rgb(4, 43, 51);
    --Teal300: rgb(6, 61, 71);
    --Teal400: rgb(8, 81, 94);
    --Teal500: rgb(13, 101, 115);
    --Teal600: rgb(17, 123, 136);
    --Teal700: rgb(22, 145, 158);
    --Teal800: rgb(27, 168, 180);
    --Teal900: rgb(59, 190, 200);
    --Teal1000: rgb(118, 209, 216);
    --Teal1100: rgb(184, 231, 235);
    --Teal1200: rgb(197, 236, 239);
    --Blue100: rgb(18, 29, 43);
    --Blue200: rgb(20, 39, 60);
    --Blue300: rgb(21, 57, 90);
    --Blue400: rgb(21, 76, 121);
    --Blue500: rgb(21, 96, 148);
    --Blue600: rgb(13, 118, 175);
    --Blue700: rgb(15, 140, 198);
    --Blue800: rgb(43, 162, 218);
    --Blue900: rgb(86, 183, 234);
    --Blue1000: rgb(135, 203, 244);
    --Blue1100: rgb(193, 227, 250);
    --Blue1200: rgb(205, 232, 251);
    --Purple100: rgb(32, 21, 66);
    --Purple200: rgb(43, 26, 91);
    --Purple300: rgb(64, 30, 138);
    --Purple400: rgb(87, 32, 188);
    --Purple500: rgb(111, 37, 236);
    --Purple600: rgb(127, 71, 255);
    --Purple700: rgb(132, 109, 255);
    --Purple800: rgb(148, 138, 254);
    --Purple900: rgb(169, 163, 253);
    --Purple1000: rgb(192, 189, 253);
    --Purple1100: rgb(222, 219, 253);
    --Purple1200: rgb(229, 226, 253);
    --Pink100: rgb(48, 18, 41);
    --Pink200: rgb(64, 22, 54);
    --Pink300: rgb(96, 27, 83);
    --Pink400: rgb(129, 29, 111);
    --Pink500: rgb(168, 17, 143);
    --Pink600: rgb(196, 43, 166);
    --Pink700: rgb(215, 76, 182);
    --Pink800: rgb(229, 109, 196);
    --Pink900: rgb(240, 140, 209);
    --Pink1000: rgb(248, 171, 222);
    --Pink1100: rgb(255, 210, 237);
    --Pink1200: rgb(255, 218, 240);
}

/* Y42 Docs additional CSS vars */
:root {
    --TextPrimary: rgba(255, 255, 255, 0.94);
    --TextSecondary: rgba(255, 255, 255, 0.64);
    --CoreRoot: rgba(23, 24, 28, 1);
}

/* --- Customize nextra-docs-theme defaults --- */

.nextra-sidebar-container .nx-text-sm {
    font-size: 0.95em;
}

.nextra-sidebar-container {
    border-right: 1px solid var(--Neutral1200);
}


/* --- Customize nextra-docs-theme dark mode --- */
html[class~=dark] body {
    background-color: var(--CoreRoot) !important;

}


/* Top navbar */
html[class~=dark] .nextra-nav-container .dark\:nx-bg-dark {
    background-color: var(--CoreRoot) !important;
}

html[class~=dark] .nextra-toc .dark\:nx-bg-dark {
    background-color: var(--CoreRoot) !important;
}


/* Sidebar */
html[class~=dark] .nextra-sidebar-container {
    background-color: var(--CoreRoot);
}

/* Sidebar text */
html[class~=dark] .nextra-sidebar-container .dark\:nx-text-neutral-500 {
    color: var(--TextSecondary)
}



/* Sidebar active item */
html[class~=dark] .nextra-sidebar-container .dark\:nx-bg-primary-500\/10 {
    background-color: var(--Purple100);
}

/* Sidebar active item border, no nx-border- utility class to override so using nx-bg-primary-500 */
html[class~=dark] .nextra-sidebar-container .nx-text-primary-600 {
    color: var(--TextPrimary);
    border-style: solid;
    border-color: var(--Purple400);
    border-width: 1px;
    font-weight: 500;
}

/* Sidebar panel border */
html[class~=dark] .nextra-sidebar-container {
    border-right: 1px solid var(--Neutral200);
}

/* Dark mode selector component drop shadow */
html[class~=dark] .dark\:nx-shadow-\[0_-12px_16px_\#111\] {
    box-shadow: none !important;
}